<!-- breadcrumb -->
<section class="background-light mb-32">
	<div class="container">
		<ul class="breadcrumb">
			<li>
				<a href="index-2.html">Home</a>
			</li>
			<li>
				<img src="assets/icons/right.svg" alt="chevron-right">
			</li>
			<li>
				<span>Pages</span>
			</li>
			<li>
				<img src="assets/icons/right.svg" alt="chevron-right">
			</li>
			<li>
				<span>Sell Your Car</span>
			</li>
		</ul>
	</div>
</section>
<!-- breadcrumb -->
<!-- New Cars -->
<section class="pb-100">
	<div class="container">
		<h2>Sell Your Car</h2>
		<div class="tf-spacing-style3"></div>

		<div class="row">
			<div class="col-lg-6 lg-mb-40">
				<p class="mb-12"></p>
				<h2 class="font-weight-600 mb-20 capitalize mt-12">Want to sell your car?</h2>

				<p class="text-secondary h7 line-height-28 mb-40">Answer a few questions about your vehicle, and then connect with one of thousands of Certified Dealers who can pay you directly for your used car.</p>

				<ul class="flex flex-col gap-16 mb-38">
					<li class="flex gap-4">
						<img class="w-24 h-24" src="assets/icons/check.svg" alt="check">
						<p class="h5 capitalize">Secure transactions and title transfer</p>
					</li>
					<li class="flex gap-4">
						<img class="w-24 h-24" src="assets/icons/check.svg" alt="check">
						<p class="h5 capitalize">Verified community of buyers </p>
					</li>
					<li class="flex gap-4">
						<img class="w-24 h-24" src="assets/icons/check.svg" alt="check">
						<p class="h5 capitalize">Free vehicle history report</p>
					</li>
				</ul>

				<div class="flex gap-40 items-center sm-flex-col sm-items-start sm-gap-16">
					<a asp-controller="Contact" asp-action="Index" class="btn btn-primary btn-large-3 font-weight-600">
						Contact Us
					</a>

					<a href="#" class="flex gap-16">
						<img src="assets/icons/PhoneCall-3.svg" alt="PhoneCall">
						<div class="mt2">
							<span class="text-sm text-secondary">Have any Question?</span>
							<p class="h4">1-555-678-8888</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="flat-tabs about-form">
					<div class="overflow-x-auto mb-26">
						<ul class="menu-tab menu-tab-style7 large">
							<li>License Plate</li>
							<li class="active">VIN</li>
						</ul>
					</div>

					<div class="content-tab visible">
						<div class="content-inner">
							<div class="about-form">
								<form action="#" class="calculate-form">
									<div class="grid grid-cols-1 gap-15 mb-20">
										<div>
											<p class="mb-8">Enter VIN Number</p>
											<input class="active input-large" placeholder="Enter the 17-digit VIN" id="VINNumber1" name="VINNumber1" type="text" value="" required="" />
										</div>

										<div>
											<p class="mb-8">Zip Code</p>
											<input class="input-large" id="ZipCode1" name="ZipCode1" placeholder="Zip code" type="text" value="" required="" />
										</div>
									</div>
									<button type="button" class="btn btn-primary btn-large font-weight-600 w-full">Get Started</button>
								</form>
							</div>
						</div>

						<div class="content-inner active">
							<form action="#" class="calculate-form">
								<div class="grid grid-cols-1 gap-15 mb-28">
									<div>
										<p class="mb-8">Enter VIN Number</p>
										<input class="active input-large" placeholder="Enter the 17-digit VIN" id="VINNumber2" name="VINNumber2" type="text" value="" required="" />
									</div>

									<div>
										<p class="mb-8">Zip Code</p>
										<input class="input-large" id="ZipCode" name="ZipCode" placeholder="Zip code" type="text" value="" required="" />
									</div>
								</div>
								<button type="button" class="btn btn-primary btn-large font-weight-600 w-full">Get Started</button>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="tf-spacing-style3"></div>

	<div class="divider w-full"></div>
	<div class="tf-spacing-style3"></div>

	<div class="container wow fadeInUp" data-wow-delay="0.1s">
		<div class="flex justify-center mb-40">
			<h2 class="">How It Works</h2>
		</div>

		<div class="sell-your-car-box-wrapper">
			<div class="sell-your-car-box">
				<p class="number">1</p>
				<a href="#" class="h4 font-weight-600 mb-8">Enter Your Car’s Details</a>
				<p class="text-secondary text-center">Provide your car’s information to get an instant value estimate.</p>
			</div>
			<div class="sell-your-car-box active-step">
				<p class="number">2</p>
				<a href="#" class="h4 font-weight-600 mb-8">Fine-Tune Your Value</a>
				<p class="text-secondary text-center">Adjust factors like color and mileage to see their impact on your car’s value.</p>
			</div>
			<div class="sell-your-car-box">
				<p class="number">3</p>
				<a href="#" class="h4 font-weight-600 mb-8">Receive Your Offer</a>
				<p class="text-secondary text-center">Ready to sell? Get a personalized offer from a local dealer.</p>
			</div>
			<div class="sell-your-car-box">
				<p class="number">4</p>
				<a href="#" class="h4 font-weight-600 mb-8">Complete the Sale Easily</a>
				<p class="text-secondary text-center">Finalize the deal with secure transactions & hassle-free paperwork assistance.</p>
			</div>
		</div>
	</div>
</section>
<!-- New Cars -->
<!-- Why Choose Us -->
<section class="py-100 background-light">
	<div class="container">
		<div class="why-choose-us style2 style3">
			<div class="wow fadeIn" data-wow-delay="0.1s">
				<img class="move5" src="assets/images/card/why-choose-us.png" alt="why-choose-us">
			</div>

			<div class="wow fadeIn" data-wow-delay="0.2s">
				<h2 class="mb-12">Why Choose Us?</h2>
				<p class="text-muted mb-20">Explore our wide selection, competitive prices, and exceptional service for a hassle-free car-buying experience.</p>

				<ul class="list mb-32">
					<li class="flex items-center gap-12 mb-8 font-weight-500 h7 md-items-start">
						<img src="assets/icons/check.svg" alt="check">
						Wide Selection – A variety of cars to fit every need.
					</li>
					<li class="flex items-center gap-12 mb-8 font-weight-500 h7 md-items-start">
						<img src="assets/icons/check.svg" alt="check">
						Competitive Prices: Great deals and flexible financing.
					</li>
					<li class="flex items-center gap-12 mb-8 font-weight-500 h7 md-items-start">
						<img src="assets/icons/check.svg" alt="check">
						Trusted Service: Transparent, honest, and reliable.
					</li>
					<li class="flex items-center gap-12 mb-8 font-weight-500 h7 md-items-start">
						<img src="assets/icons/check.svg" alt="check">
						Excellent Support: Always here to assist you.
					</li>
				</ul>

				<a href="sell-your-car.html" class="btn btn-primary btn-large font-weight-600 max-w-min">
					Find Your Car Now!
				</a>
			</div>
		</div>

		<div class="grid grid-cols-4 gap-130 md-grid-cols-2 counter-spacing">
			<div class="box-couter-item outline-right wow fadeInUp" data-wow-delay="0.1s">
				<div class="content">
					<div class="box-couter counter">
						<div class="number-content font-main-2">
							<span class="count-number font-main-2" data-to="18" data-speed="1500" data-inviewport="yes">18</span>K+
						</div>
					</div>
					<p class="font-weight-500 text-muted h7 text-center">Car For Sale</p>
				</div>
			</div>

			<div class="box-couter-item outline-right wow fadeInUp" data-wow-delay="0.2s">
				<div class="content">
					<div class="box-couter counter">
						<div class="number-content font-main-2">
							<span class="count-number font-main-2" data-to="8" data-speed="1500" data-inviewport="yes">8</span>k+
						</div>
					</div>
					<p class="font-weight-500 text-muted h7 text-center">Visitors per day</p>
				</div>
			</div>

			<div class="box-couter-item outline-right wow fadeInUp" data-wow-delay="0.3s">
				<div class="content">
					<div class="box-couter counter">
						<div class="number-content font-main-2">
							<span class="count-number font-main-2" data-to="4.5" data-speed="1500" data-decimals="1" data-inviewport="yes">4,5</span>k+
						</div>
					</div>
					<p class="font-weight-500 text-muted h7 text-center">Dealer Reviews</p>
				</div>
			</div>

			<div class="box-couter-item wow fadeInUp" data-wow-delay="0.4s">
				<div class="content">
					<div class="box-couter counter">
						<div class="number-content font-main-2">
							<span class="count-number font-main-2" data-to="3.5" data-speed="1500" data-decimals="1" data-inviewport="yes">3,5</span>k+
						</div>
					</div>
					<p class="font-weight-500 text-muted h7 text-center">Verified Dealers</p>
				</div>
			</div>
		</div>
	</div>

</section>
<!-- Why Choose Us -->

<section class="relative py-100">
	<div class="overlay-parallax"></div>
	<div class="overlay image">
		<img class="lazyload parallax" data-src="images/banner/bg-cta.jpg" src="assets/images/banner/bg-cta.jpg" alt="">
	</div>
	<div class="container relative index-10">
		<h2 class="mb-12 text-white capitalize">Get in Touch with Us</h2>
		<p class="h7 line-height-28 text-white mb-20">We’re here to assist with any questions, concerns, or <br class="lg-hidden" /> inquiries contact us today!</p>
		<p class="mb-4 text-white">Monday - Saturday: 08:00AM - 17:00PM</p>
		<p class="mb-20 text-white">Sunday: Close</p>

		<div class="flex">
			<a asp-controller="Contact" asp-action="Index" class="btn btn-white text-primary btn-large-3 font-weight-600">Contact Us</a>
		</div>
	</div>
</section>


<section class="background-light py-100">
	<div class="container">
		<h2 class="mb-40 text-center">Sell Your Car FAQ</h2>
		<div class="max-width-850 mx-auto w-full">
			<div class="flat-accordion flex flex-col gap-18 max-width-930 wow fadeIn" data-wow-delay=".3s">
				<div class="flat-toggle active">
					<div class="toggle-title active">
						<p class="h5 title">What paperwork is needed to sell my car?</p>
						<span class="icon">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M20 15L12 7L4 15" stroke="#1C1C1C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
							</svg>
						</span>
					</div>
					<div class="toggle-content">
						<p class="mb-8 h7 text-secondary line-height-28">
							Usually, you will need the current registration for the vehicle signed by all registered owners, along with the car title and your ID or driver’s license. You may also need to provide warranty information. To complete your sale transaction, you will likely need to complete a bill of sale.
						</p>
						<p class="h7 text-secondary line-height-28">
							Check with your local DMV to confirm what you’ll need in your state.
						</p>
					</div>
				</div>

				<div class="flat-toggle">
					<div class="toggle-title">
						<p class="h5 title">Can I sell my car if I still owe money on it?</p>
						<span class="icon">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M20 15L12 7L4 15" stroke="#1C1C1C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
							</svg>
						</span>
					</div>
					<div class="toggle-content">
						<p class="h7 text-secondary line-height-28">An auto loan is a sum of money that you borrow in order to buy a car. The person or organization lending you the money is known as the lender, and the person or organization who borrows the money is the borrower. The borrower agrees to pay back the full amount they borrowed by a certain date in the future. They also pay interest, which is a percentage of the loan amount. They usually pay both these amounts via monthly payments.</p>
					</div>
				</div>

				<div class="flat-toggle">
					<div class="toggle-title">
						<p class="h5 title">Can I sell my car if I am leasing?</p>
						<span class="icon">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M20 15L12 7L4 15" stroke="#1C1C1C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
							</svg>
						</span>
					</div>
					<div class="toggle-content">
						<p class="h7 text-secondary line-height-28">An auto loan is a sum of money that you borrow in order to buy a car. The person or organization lending you the money is known as the lender, and the person or organization who borrows the money is the borrower. The borrower agrees to pay back the full amount they borrowed by a certain date in the future. They also pay interest, which is a percentage of the loan amount. They usually pay both these amounts via monthly payments.</p>
					</div>
				</div>

				<div class="flat-toggle">
					<div class="toggle-title">
						<p class="h5 title">What are the benefits of selling with Aurexo?</p>
						<span class="icon">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M20 15L12 7L4 15" stroke="#1C1C1C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
							</svg>
						</span>
					</div>
					<div class="toggle-content">
						<p class="h7 text-secondary line-height-28">An auto loan is a sum of money that you borrow in order to buy a car. The person or organization lending you the money is known as the lender, and the person or organization who borrows the money is the borrower. The borrower agrees to pay back the full amount they borrowed by a certain date in the future. They also pay interest, which is a percentage of the loan amount. They usually pay both these amounts via monthly payments.</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>